body {
  background: #fbfbfb;
  font-family: 'Poppins', sans-serif !important;
}
@font-face {
  font-family: Poppins-Bold;
  src: url('./fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: Poppins-Regular;
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
}
aside.left-panel {
  background: #15b186;
  height: 100vh;
  vertical-align: top;
  -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
}
.header_shadow {
  box-shadow: 0px 1px 10px 0px #00000026;
}
.btn_custom {
  background: #15b186;
  color: #fff;
  border: none;
  border-radius: 25px;
}

.main-content {
  padding-left: 105px !important;
}
.text_decoration_none {
  text-decoration: none !important;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: '>' !important;
}
.text_gray {
  color: #707070 !important;
}
.text_green {
  color: #15b186 !important;
}
.profile_card {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.font_size_14px {
  font-size: 14px !important;
}
.health_box {
  border: 1px solid #15b186;
  border-radius: 10px;
  color: #15b186;
}
.health_box:hover {
  background: #15b186;
  border: 1px solid #15b186;
  border-radius: 10px;
  color: #fff;
}
.report_box {
  background: #f2f2f2;
  border-radius: 5px;
}
.foodhabits .nav-link.active {
  color: #15b186 !important;
  background: none !important;
  border: 1px solid transparent;
}
.nav-tabs {
  border: none !important;
  border-bottom: none !important;
}
.nav-tabs .nav-link {
  color: #707070 !important;
}
.foodhabits .nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: 1px solid transparent;
}
/* mobile css start */
@media (min-width: 320px) and (max-width: 992px) {
  .navbar-collapse.collapsing .navbar-nav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -45%;
    transition: all 0.2s ease;
  }

  .navbar-collapse.show .navbar-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    height: auto;
    width: 70%;
    transition: left 0.35s ease;
    background: #15b186 !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .main-content {
    padding-left: 0px !important;
  }
  .navbar-bg {
    background: #15b186 !important;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url('../images/hamburger.png') !important;
    height: 20px;
  }
  .navbar-toggler {
    border: none !important;
  }
  .navbar-toggler:focus {
    outline: 0 !important;
  }
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#msform fieldset .form-card {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 40px 30px 40px;
  box-sizing: border-box;
  width: 94%;
  margin: 0 3% 20px 3%;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform fieldset .form-card {
  text-align: left;
  color: #9e9e9e;
}

#msform input,
#msform textarea {
  padding: 0px 8px 4px 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 16px;
  letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
  outline: 0;
}

#msform .action-button {
  width: 140px;
  background: #15b186;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous {
  width: 140px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

select.list-dt {
  border: none;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 5px 3px 5px;
  margin: 2px;
}

select.list-dt:focus {
  border-bottom: 2px solid skyblue;
}

.card {
  z-index: 0;
  border: none;
  border-radius: 0.5rem;
  position: relative;
}

.fs-title {
  font-size: 25px;
  color: #2c3e50;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #15b186;
}

#progressbar li {
  list-style-type: none;
  font-size: 12px;
  width: 20%;
  float: left;
  position: relative;
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: '1';
  font-weight: bold;
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: '2';
  font-weight: bold;
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: '3';
  font-weight: bold;
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: '4';
  font-weight: bold;
}
#progressbar #smoke:before {
  font-family: FontAwesome;
  content: '5';
  font-weight: bold;
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 5px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #15b186;
}

.radio-group {
  position: relative;
  margin-bottom: 25px;
}

.radio {
  display: inline-block;
  width: 204;
  height: 104;
  border-radius: 0;
  background: lightblue;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  cursor: pointer;
  margin: 8px 2px;
}

.radio:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.fit-image {
  width: 100%;
  object-fit: cover;
}
.fa-eye:before {
  content: '\f06e';
}
.btn-show-pass {
  font-size: 15px;
  color: #999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 20px;
  padding: 0 5px;
  cursor: pointer;
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
  -moz-transition: background 0.4s;
  transition: background 0.4s;
}